{
  "plugins": [
    "@babel/syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        [
          {
            "plugins": [
							"@babel/plugin-transform-modules-commonjs",

            ]
          },
          {
            "targets": {
              "node": "current"
            }
          }
        ],
				[
					"@babel/preset-typescript",
					{
						"useBuiltIns": "usege",
						"corejs": 3
					}
				]
			]
    }
	}
	// "presets": [
	// 	"@babel/preset-env"
	// ]
}
