*.config.js
./*.js

src/index.js
**/src/index.js
../db/index.js
../../../../../dist
src/app/frontend/src/index.js
src/app/db/src/index.js
src/app/backend/src/index.js
../../../dist/db/
../../../dist/db/maps/
../../dist/my_db
node_modules
**/node_modules


webpack.*.js
src/index.js
src/__tests__
coverage
**/dist
websocket-polyfill.js
setupTests.js
caches
src.v*.?*
main.js
**/backend/index.js
*log.*
*config.js
*dev.js
dist

